@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px rgb(11, 113, 179) solid;
}

.logo-image {
  width: 15vw;
  height: 60%;
  background-image: url("./images/todo-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 2%;
}

.header .app-title {
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .app-title h1 {
  font-size: 4vh;
}

.header .app-title h2 {
  text-transform: capitalize;
  font-family: "Indie Flower", cursive;
  font-size: 4vh;
}

main {
  height: 85vh;
  padding-top: 2%;
  background-color: #455d7a;
}

.input-form {
  display: flex;
  width: 60%;
  margin: 0 auto 1%;
  padding: 1.5% 0;
  justify-content: space-evenly;
  background-color: #bfdce6;
  border: 1px rgb(11, 113, 179) solid;
  border-radius: 10px;
}

#new-task-input {
  width: 70%;
  padding: 1%;
  font-size: 1.3em;
  border-radius: 5px;
  border: 1px #606470 solid;
}
